body {
  /* Have to change the background color with images connected with weather */
  background-color: #f9f7fe;
}
.weather-app {
  background-color: #fff;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}
